@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

body {
  display: flex;
  /* height: 100vh; */
  justify-content: center; /*center vertically */
  align-items: center; /* center horizontally */
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  padding: 10px;
}

.input {
  margin-bottom: 20px;
  border: 2px solid paleturquoise;
  padding: 20px;
}

.head {
  font-size: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-around;
  width: 100%;
  max-width: 680px;
}

.input .note {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#write {
  margin: 0 0 5px;
  padding: 5px;
  max-width: 671px;
  max-height: 120px;
  background: #fff;
  border: 1px solid #f9f9f9;
  margin-bottom: 3%;
  height: 100%;
  width: 100%;
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  padding: 10px 0px 10px 10px;
  background-color: #e9e2e2;
}

#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #f9f9f9;
}

#keyboard li:hover {
  background: linear-gradient(-135deg, #171212, #8e8888);
}

.capslock,
.tab,
.left-shift {
  clear: left;
}

#keyboard .tab,
#keyboard .delete {
  width: 70px;
}

#keyboard .return {
  width: 77px;
}

#keyboard .left-shift {
  width: 160px;
  margin-right: 30;
}

#keyboard .right-shift {
  width: 109px;
}

#keyboard .capslock {
  width: 80px;
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

#keyboard .space {
  clear: left;
  width: 660px;
}

.on {
  display: none;
}

.capslock {
  display: flex;
  justify-content: center;
}

.active {
  position: absolute;
  background-color: green;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

@media screen and (max-width: 720px) {
  #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 35px;
    height: 35px;
    line-height: 20px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
  }
  #keyboard .space {
    clear: left;
    width: 600px;
  }

  #write {
    margin: 0 0 5px;
    padding: 5px;
    max-width: 600px;
    max-height: 100px;
    background: #fff;
    border: 1px solid #f9f9f9;
    margin-bottom: 3%;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  #keyboard li {
    float: left;
    margin: 0 4px 4px 0;
    width: 25px;
    height: 25px;
    line-height: 15px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
  }
  #keyboard .space {
    clear: left;
    width: 500px;
  }

  #write {
    margin: 0 0 5px;
    padding: 5px;
    max-width: 500px;
    max-height: 80px;
    background: #fff;
    border: 1px solid #f9f9f9;
    margin-bottom: 3%;
    height: 100%;
    width: 100%;
  }
}
/* keys rgb(51,51,51) */
/* word rgb(204,204,204) */

/* form css */

.form_container {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.form_container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.form_container .title::before {
  content: '';
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.form_container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(--main-purple);
}

/* inside the form gender details */

form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type='radio'] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

@media only screen and (max-width: 584px) {
  .form_container {
    max-width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .form_container form .user__details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}
